/*---------------------------------------------*/
/* klasola.github.io                           */
/* Author: Kalley Lasola                       */
/* Date: March 1, 2021                         */
/*---------------------------------------------*/

/*                 GLOBAL CSS                 */

a, a:visited {
  color: var(--fourth-bg-color);
}

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

:root {
  --first-bg-color: #edae49;
  --second-bg-color: #d1495b;
  --third-bg-color: #00798c;
  --fourth-bg-color: #30638e;
  --fifth-bg-color: #003d5b;
}

/*                 DESKTOP CSS                 */

#header-container {
  background-image: url("../img/edm.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  min-height: 800px;
  height: auto;
}

#main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

/*                  MOBILE CSS                  */

@media only screen and (max-width: 600px) {
  
}